html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  min-height: 100vh;
  background-color: rgb(52, 53, 53);
}

.success{
  color: rgb(101, 255, 101);
}
.error{
  color: red;
}
h1{
  color: blanchedalmond;
  text-align: center;
}